.container {
  display: flex;
  flex-direction: column;
  align-items: center; // Центрирует дочерние элементы как блоки
  text-align: center;  // Центрирует текст внутри элементов
  width: 100%;
  max-width: 800px;    // Чтобы текст не был слишком широким
  margin: 0 auto;      // Центрирует сам контейнер
  padding: 2rem;
  box-sizing: border-box;
}

.heading {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  margin: 0 auto;
  text-align: center !important; // !important на случай конфликта с Tailwind
  color: black;
}

.title {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  margin: 0 auto;
  text-align: center !important; // !important на случай конфликта с Tailwind
  color: black;
}

.paragraph {
  width: 100%;
  font-size: 15px;
  text-align: center !important; // !important на случай конфликта с Tailwind
  color: rgba(57, 57, 57, 0.75);
}

.list {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0 0 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: rgba(57, 57, 57, 0.75);

  li {
      text-align: center;
      width: 100%;
      font-size: 14px;
      color: rgba(57, 57, 57, 0.75);
  }
}