.formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-width: 240px;
    margin-bottom: 20px;

    .Logo {
        width: 100%;
        height: 84px;
    }

    .labelForInput {
        max-width: 206px;
        padding-bottom: 30px;
        text-align: center;
        font-size: 14px;

    }

    .input {
        min-width: 180px;
        place-content: center;
        border: 1px solid rgb(44, 44, 44);
        color: rgb(44, 44, 44);
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0px;
        height: 50px;
        padding: 16px;
        margin-bottom: 30px;
    }

    .error {
        color: red;
        font-size: 15px;
        text-align: center;
    }
}