.container {
  padding: 2rem;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: rgb(57, 57, 57);
  text-align: center;
  width: 100%;
}

.title {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: rgb(57, 57, 57);
  text-align: center;
}

.updated {
  width: 100%;
  font-size: 10px;
  color: rgb(57, 57, 57);
  margin-bottom: 2rem;
  text-align: center;
}

.heading {
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: rgb(57, 57, 57);
  text-align: center;
}

.paragraph {
  width: 100%;
  margin-bottom: 1rem;
  color: rgb(57, 57, 57);
  font-style: normal;
  font-size: 12px;
  text-align: center;
}

.list {
  width: 100%;
  list-style-type: none;
  padding-left: 0.1rem;
  margin-bottom: 1rem;
  color: rgb(57, 57, 57);
  text-align: center;
}

.list li {
  width: 100%;
  margin-bottom: 0.5rem;
  color: rgb(57, 57, 57);
  font-size: 12px;
  text-align: center;
}
