.burgerMenu {
  position: relative;
  z-index: 1000;
}

/* кнопка-бургер */
.burgerButton {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1002;
}

.burgerButton:hover {
  width: 35px;
  height: 25px;
  transition: 0.3s;
}

.burgerButton span {
  display: block;
  height: 2.5px;
  width: 100%;
  background: #000;
  border-radius: 2px;
  transition: 0.3s ease;
}

.burgerButton.open span:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}
.burgerButton.open span:nth-child(2) {
  opacity: 0;
}
.burgerButton.open span:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}

/* затемнение */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1001;
}

/* основное меню и подменю */
.sidebar,
.submenu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  background: white;
  transition: left 0.3s ease;
  padding-top: 20px;
  z-index: 1002;
}

.sidebar.show,
.submenu.show {
  left: 0;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;

  .shop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-align: left;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
      background-color: rgb(242, 242, 242);
    }
  }

  .link {
    position: absolute;
    bottom: 70px;
    left: 20px;
    color: black;
    font-weight: bold;
    font-size: 0.7rem;
    text-decoration: none;
  }
}


@media screen and (min-width: 1200px) {
  .sidebar,
  .submenu {
    left: -450px;
    width: 450px;
  }

  .link {
    font-size: 1.2rem;
  }

  .shop {
    font-size: 16px;
  }
}