.header {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    position: sticky;
    top: 20px;
    left: 1px;
    background-color: white;
    z-index: 1002;
    padding-left: calc(var(--spacing) * 2.5);
    padding-right: calc(var(--spacing) * 2.5);

    .NavIcons {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
    .optionalIcons {
        display: none;
    }
}

.firstNav {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .optionalSwitcher {
        display: none;
    }
}

.blackLine {
    display: block;
    width: 100%;
    height: 20px;
    background-color: rgb(57, 57, 57);
    position: sticky;
    top: 0;
    left: 1px;
    z-index: 1002;
}

.linkWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;

    .country {
        color: black;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-style: normal;
        font-family: 'Roboto', sans-serif;
    }

    .link {
        color: black;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        font-style: normal;
        font-family: 'Roboto', sans-serif;
    } 
}

@media  screen and (min-width: 1200px) {

    .header {
        flex-direction: column;
        height: 100px;

        .optionalButtons {
            position: relative;
            width: 33vw;
        }

        .optionalIcons {
           
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            gap: 10px;
        }

        .optionalSwitcher {
            display: block;
        }
    }



    .country {
        font-size: 14px;
        font-weight: 700;
    }

    .link {
        font-size: 14px;
        font-weight: 700;
    } 
}