.shoppingButton {
  position: relative;
  cursor: pointer;
}

.counter {
  position: absolute;
  top: 15px;
  right: 1px;
  background-color: rgb(57, 57, 57);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: white;
  font-size: 14px;
}

/* затемнение */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1001;
}

/* сайдбар */
.sidebar {
  position: fixed;
  top: 0;
  right: -270px; /* уезжает вправо */
  width: 270px;
  height: 100vh;
  background: #fff;
  transition: right 0.3s ease;
  padding: 20px;
  padding-bottom: 40px;
  z-index: 1002;

  display: flex;
  flex-direction: column;
  
}

.sidebar.show {
  right: 0; /* появляется справа */
}

.heading {
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: rgb(57, 57, 57);
  margin-bottom: 10px;
  margin-top: 10px;
}

.itemsWrapper {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-y: auto;
  padding-bottom: 100px;
}

.cartItem {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.image {
  width: 60px;
  height: 60px;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: 15px;
}

.infoWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.title {
  width: 100%;
  color: rgb(57, 57, 57);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  text-align: left;
}

.options {
  width: 100%;
  color: rgb(57, 57, 57);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
}

.manipulateBtnsWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}

.quantityWrapper {
  width: 250px;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgb(57, 57, 57, 0.11);
  margin-top: 0;
  gap: 10px;
}

.quantityBtn {
  width: 30px;
  height: 30px;
  color: rgb(57, 57, 57);
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

.quantityWrapper {
  width: 100%;
  border: 1px solid rgb(57, 57, 57, 0.11);
  border-radius: 4px;
  margin-top: 0;
}

.quantity {
  width: 30px;
  height: 30px;
  text-align: center;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  color: rgb(57, 57, 57);
  margin-top: 10px;
}

.removeBtn {
  cursor: pointer;
  width: 35px;
  height: 35px;
  color: rgb(57, 57, 57);
  font-size: 13px;
}

.price {
  font-size: 15px;
  font-weight: 500;
  color: rgb(57, 57, 57, 0.75);
  margin-top: 20px;
}

.size {
  width: 100%;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  color: rgb(57, 57, 57, 0.75);
}

.checkoutWrapper {
  width: 100%;
  position: absolute;
  bottom: 40px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  z-index: 1002;
  background-color: #fff;
}

.wrapperPrice {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 10px;
  align-items: center;
  border-top: 1px solid rgb(57, 57, 57, 0.11);
}

.subtotal {
    font-size: 16px;
    font-weight: 700;
    color: rgb(57, 57, 57);
}

.total {
  font-size: 16px;
  font-weight: 700;
  color: rgb(57, 57, 57 , 0.75);
}

.defaultBtn {
  width: 95%;
  height: 40px;
}

.buttonWrapper {
  width: 60%;
  height: 50px;
}

.textWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;

  .link {
    color: rgb(57, 57, 57, 0.75);
    text-decoration: underline;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration-thickness: 1px;
    text-underline-offset: .3rem;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 8px;

    .text {
      color: rgb(57, 57, 57, 0.75);
      font-size: 8.5px;
      text-decoration: underline;
      font-style: normal;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      text-decoration-thickness: 1px;
      text-underline-offset: .3rem;
      text-transform: uppercase;
      text-decoration: underline;
    }
  
    .text:hover {
      color: black;
      text-decoration-thickness: 2px;
      transform: 1s;
    }
  }
  .link:hover {
    text-decoration-thickness: 2px;
    transition: 1s;
  }


}

.emptyWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  .link {
    width: 100%;

    .text {
      width: 100%;
      text-align: center;
      font-size: 8.5px;
    }
  }

}

@media screen and (min-width: 1200px) {
  .sidebar {
    right: -450px; /* уезжает вправо */
    width: 450px;
    height: 100vh;
  }

  .cartItem {
    justify-content: space-evenly;
  }

  .image {
    width: 100px;
    height: 100%;
  }

  .itemInfo {
    width: 200px;
    height: 130px;
  }

  .quantityBtn {
    width: 33.33%;
    height: 100%;
    font-size: 20px;
  }

  .subtotal {
    font-size: 18px;
  }

  .total {
    font-size: 18px;
  }

  .price {
    font-size: 17px;
  }

  .emptyWrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    .text {
      width: 100%;
      text-align: center;
      font-size: 12px;
    }
  }
}

