.heading {
    width: 100%;
    margin: 20px 0 10px;
    color: rgb(57, 57, 57);
    font-weight: 600;
    font-size: 16px;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-align: left;
  }
  
  .paragraph {
    width: 100%;
    margin: 0 0 10px;
    color: rgba(57, 57, 57, 0.75);
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-align: left;
  }