.formWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    margin-bottom: 20px;  
    width: 90%; 
    padding-top: 0;
    margin-top: 0 !important; 

    .heading {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: bold;
        color: rgb(57, 57, 57);
        font-size: 16px;
        margin-top: 0 !important;
    }

    .fieldError {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-bottom: 10px;
        gap: 5px;
        text-align: left;
        //border: 1px solid red;
        //border-radius: 8px;
        padding: 20px;
        //background-color: rgba(255, 0, 0, 0.05);
        

        .input {
            width: 100%;
            margin-bottom: 0;
            padding: 15px;
            border: 1px solid #c6c6c6;
            color: rgb(57, 57, 57);
            font-family: Roboto, Helvetica, Arial, sans-serif;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0px;
            height: 50px;
            
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25); 
            border-radius: 4px;
            padding-bottom: 20px;
        }
    
        .error {
            color: red;
            font-size: 15px;
            text-align: center;
            margin-top: 10px;
        }

        .label {
            color: rgb(57, 57, 57);
            font-family: Roboto, Helvetica, Arial, sans-serif;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0px;
        }
    }

    .createLink {
        margin: 0;
        color: rgb(57, 57, 57);
        font-size: 0.8rem;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        text-decoration: underline;
        width: fit-content;
        text-align: left;
        cursor: pointer;
        margin-bottom: 30px;
    }

    .createLink:hover {
        color: black;
    }

    .submitWrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .createLink {
            margin: 0;
            color: rgb(57, 57, 57);
            font-size: 0.8rem;
            font-weight: 500;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            text-decoration: underline;
            width: fit-content;
            text-align: left;
            cursor: pointer;
            margin-bottom: 30px;
        }

        .createLink:hover {
            color: black;
        }
    }
}