section.productsSection {
    display: grid;
  }
  

.productsSection {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    position: relative
}

@media  screen and (min-width: 1200px) {
  .productsSection {
    grid-template-columns: repeat(4, 1fr);
}
}